%align-flex {
  display: flex;
  align-items: center;
}

%middle-font {
  
  font-size: 14px;
  line-height: 1.7;
  
  
  
  color: var(--white-color);
}

%auto-margin {
  margin-right: auto;
  margin-left: auto;
}

%basic-padding {
  padding-bottom: 120px;
  padding-top: 120px;
}

%reset-style {
  margin: 0;
  list-style: none;
  padding: 0;
}
